
html { 
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
    width: 100%;
    padding: 0 auto;
    margin-top: 8px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

@media screen and (min-width: 0) {
    

@media screen and (min-width: 1000px) {
    
}
@media screen and (min-width: 1400px) {
    
}



#title{
    text-align: left;
    padding: 5px 5% 5px 5%;
    font-size: 40px;
    font-family: 'Lato','Helvetica Rounded', Arial, sans-serif;
}

#intro{
      padding: 5px 5% 5px 5%;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato','Helvetica Rounded', Arial, sans-serif;

}

#picture{
    text-align: center;
}

#smallIntro{
    text-align: left;
    padding: 5px;
}
#iceCreamTextBox{
    text-align: justify;
    margin:10px 50px 10px 50px;
    padding: 5px 40px 50px 40px;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato','Helvetica Rounded', Arial, sans-serif;
}

#smallOutro{
    text-align: center;
    padding: 5px;
}


a{

    font-family: 'Lato','Helvetica Rounded', Arial, sans-serif;
    text-decoration: none;
    color: #007fc9;
}
a:hover {
    text-decoration: none;

    cursor: pointer;
    border-radius: 4px;
    color:  #F62121;
}
h3{
    font-family: 'Lato','Helvetica Rounded', Arial, sans-serif;
}

h2{
    font-family: 'Lato','Helvetica Rounded', Arial, sans-serif;
}





