
html { 
  background: url(https://drive.google.com/thumbnail?id=0B81sgR9xLzgoY0VKOHYydENjclk&authuser=0&v=1417472999465&sz=w2118-h1092) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*body{

    background-image: url(https://drive.google.com/thumbnail?id=0B81sgR9xLzgoY0VKOHYydENjclk&authuser=0&v=1417472999465&sz=w2118-h1092);
    background-repeat: no-repeat;
    background-attachment: fixed;

margin-top: 8px;
margin-right: 0px;
margin-bottom: 8px;
margin-left: 0px;
}*/

body{
/*
    background-image: url(https://drive.google.com/thumbnail?id=0B81sgR9xLzgoY0VKOHYydENjclk&authuser=0&v=1417472999465&sz=w2118-h1092);
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    width: 100%;
padding: 0 auto;
margin-top: 8px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}

@media screen and (min-width: 0) {
    body{ width: 100%; }
    #buttons{
            display: block;
    }
}
@media screen and (min-width: 1000px) {
    body{ width: 100%; }
}
@media screen and (min-width: 1400px) {
    body{ width: 100%; }
}

#NT{
    display: block;
    clear:both;
    height: 100%;
    width: 35%;
    background: #800000;
    margin: 70px auto 0 auto;
    border-radius: 8px;
    text-align: center;
    box-shadow: 1px 1px 6px #151515;
    padding: 0 0 3% 0;
}

    #NT ul{
        padding-top: 15px;
    }

#nameTag{
    height: 100%;
    width: 100%;
    margin-top: 15px;
    background-color: #FFF;
}

#title{
    font-family: 'Permanent Marker';
    font-size: 60px;
    font-weight: bold;
    color: black;
    margin: 0;
    padding-top:50px;
}

#BC {
    font-family: 'Permanent Marker';
    font-size: 25px;
    margin-top: 30px;
}

#hello{
    text-align: center;
    font-family:'Lato','Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    list-style: none;
}


#myNameIs{
    margin: auto;
    text-align: center;
    text-decoration: none;
    text-align: center;
    font-family:'Lato','Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #FFF;
    text-decoration: none;
    list-style: none;
}



/*Buttons on top*/

#buttons {
/*    height:65px;
    width:750px;*/
    display: inline-block;
/*    margin: 8px 0px 10px 0px;
    width: 100%;
padding: 0px 2% 10px 8%;*/



}

#buttons li {
    float: left;
 /*   display: inline-block;*/
    /*font-family: 'Helvetica Rounded', Arial, sans-serif;*/
    font-family: 'Lato', Georgia, Times, serif;
    font-size: 20px;
    list-style: none;
    text-align: center;
    background-color: rgba(0,0,0,0.60);
    margin-top: 10px;
    margin-right: 30px;
    width: 20%;
    line-height: 60px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px;
    padding-left: 
}

#buttons li a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}
 
#buttons li a:hover {
    text-decoration: none;
    background-color: rgba(96,0,0,.75) ;
    color: rgb(136,136,136) ;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(255,255,255,0.50);
}

 #buttons li a:hover, #buttons li a{
    transition:          all .2s linear 0;
    -webkit-transition:  all .2s linear 0;
    -ms-transition:      all .2s linear 0;
    -moz-transition:     all .2s linear 0;
}

#textBox{
    text-align: center;
    /*background: rgba(255,255,255,.75);*/
    background: rgba(0,0,0,0.60);
    color: #FFFFFF;
    width: 100%;
    margin:50px 0px 0px 0px;
    padding: 10px 0px 30px 0px;
    text-decoration: none;
 

}
#aboutMeTextBox{

    text-align: justify;
/*    background: rgba(255,255,255,.75);*/
    background: rgba(0,0,0,0.60);
    margin:50px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Lato','Helvetica Rounded', Arial, sans-serif;

}

.two-split {
    float: left;
    margin: 5px 0 10px 12px;
    padding: 5px;
    width: 47%;
}


#spotify{
    float: left;
}
/*#BCimg{
    float: right;
}*/
h3{
    text-align: center;
    font-family: 'Lato','Helvetica Rounded', Arial, sans-serif;
}
h1{
     text-shadow: 4px 5px #600000;
     font-family: 'Lato';
}

#describeMe{
    font-size: 20px;
    /*font-family: 'Helvetica Rounded', Arial, sans-serif;*/
    text-align: center;
    color: #FFFFFF;
    font-family: 'Lato', Georgia, Times, serif;

}
